.product-info {
  display: flex;
  flex-flow: row;
  margin-top: 32px;
}
.product-info .product-info-pic {
  flex: 40%;
  max-width: 40%;
  padding: 0 8px;
}
.product-info .product-info-pic .product-info-pics-slides {
  height: 60%;
  padding: 8px;
}
.product-info .product-info-pic .product-info-pics-slides .product-info-pic-slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-info .product-info-pic .product-info-pics-slides .current-slide {
  display: block;
}
.product-info .product-info-pic .product-info-pic-badges {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 16px;
}
.product-info .product-info-pic .product-info-pic-badges .product-info-pic-badge {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 8px;
  outline: none;
  opacity: 0.8;
  margin: 0 4px;
  object-fit: contain;
  padding: 4px;
}
.product-info .product-info-pic .product-info-pic-badges .product-info-pic-badge:hover {
  opacity: 1;
  cursor: pointer;
}
.product-info .product-info-pic .product-info-pic-badges .current-badge {
  opacity: 1;
  border-color: black;
}
.product-info .product-info-details {
  flex: 30%;
  max-width: 30%;
  padding: 0 8px;
}
.product-info .product-info-details h2 {
  margin: 0;
  font-weight: lighter;
}
.product-info .product-info-details .product-info-details-rating {
  display: flex;
  flex-flow: row wrap;
  margin-top: 8px;
}
.product-info .product-info-details .product-info-details-rating h2 {
  margin: 0;
}
.product-info .product-info-details .product-info-details-rating span {
  font-size: 14px;
}
.product-info .product-info-details .product-info-details-rating div {
  margin: 0 16px 0 4px;
  display: flex;
  flex-flow: row nowrap;
}
.product-info .product-info-details .product-info-details-rating i {
  color: #ff5200;
}
.product-info .product-info-details .product-info-details-rating a {
  text-decoration: none;
  font-size: 14px;
}
.product-info .product-info-details .product-info-details-specifications table {
  width: 100%;
}
.product-info .product-info-details .product-info-details-specifications table, .product-info .product-info-details .product-info-details-specifications td, .product-info .product-info-details .product-info-details-specifications tr {
  border-collapse: collapse;
  font-size: 14px;
}
.product-info .product-info-details .product-info-details-specifications td {
  padding: 4px 0;
}
.product-info .product-info-details .product-info-details-specifications td:first-child {
  font-weight: bold;
  width: 45%;
}
.product-info .product-info-details .product-info-details-about h2 {
  font-size: 16px;
}
.product-info .product-info-details .product-info-details-about ul {
  font-size: 14px;
  padding: 0;
  margin-left: 18px;
}
.product-info .product-info-order {
  flex: 30%;
  max-width: 30%;
  padding: 0 8px;
}
.product-info .product-info-order .product-info-order-card {
  width: 100%;
  max-width: 270px;
  margin: auto;
  border: 1px solid #e0e0e6;
  background: #fafafa;
  padding: 8px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border-radius: 16px;
}
.product-info .product-info-order .order-location, .product-info .product-info-order .order-guarantee, .product-info .product-info-order .order-recommendation {
  font-size: 14px;
  margin: 8px 0;
}
.product-info .product-info-order .order-recommendation span {
  color: #30b316;
}
.product-info .product-info-order hr {
  margin: 0;
}
.product-info .product-info-order .product-info-order-price {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.product-info .product-info-order .product-info-order-price p {
  font-size: 14px;
}
.product-info .product-info-order .product-info-order-price div .old-price-p {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.product-info .product-info-order .product-info-order-price div .off-amount {
  background: #ff1515;
  color: white;
  border-radius: 20px;
  padding: 2px 4px;
  font-size: 10px;
  margin: 0 8px 0 0;
}
.product-info .product-info-order .product-info-order-price div .old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: gray;
}
.product-info .product-info-order .product-info-order-price div .new-price {
  font-size: 20px;
  margin: 8px 0 0;
}
.product-info .product-info-order .product-info-order-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #111;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin: 0 0 16px;
  background: #0041c7;
}
.product-info .product-info-order .product-info-order-button:hover {
  background-color: #555;
}
.product-info .product-info-order .product-info-order-button:hover {
  background: #004ae0;
}

.product-reviews {
  display: flex;
  flex-flow: row;
  margin-top: 16px;
  border-top: 1px solid gray;
  padding: 16px 0;
}
.product-reviews .product-reviews-card {
  flex: 35%;
  max-width: 35%;
  padding: 0 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}
.product-reviews .product-reviews-card hr {
  margin: 16px 0;
}
.product-reviews .product-reviews-card .product-review-customer h2 {
  font-size: 21px;
  color: #0f1111;
  margin: 0 0 2px;
}
.product-reviews .product-reviews-card .product-review-customer .product-review-customer-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 4px;
  font-size: 18px;
}
.product-reviews .product-reviews-card .product-review-customer .product-review-customer-rating div {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #ff5200;
  margin-right: 16px;
}
.product-reviews .product-reviews-card .product-review-customer .product-review-customer-count {
  color: #565959;
  font-size: 14px;
}
.product-reviews .product-reviews-card .product-review-features .product-review-features-title {
  font-size: 18px;
  font-weight: bold;
  color: #0f1111;
  margin: 0 0 16px;
}
.product-reviews .product-reviews-card .product-review-features .product-review-feature {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin: 12px 0;
}
.product-reviews .product-reviews-card .product-review-features .product-review-feature div {
  display: flex;
  align-items: center;
}
.product-reviews .product-reviews-card .product-review-features .product-review-feature div i {
  color: #ff5200;
}
.product-reviews .product-reviews-card .product-review-features .product-review-feature div span {
  padding: 0 0 0 8px;
}
.product-reviews .product-reviews-card .product-review-add .product-review-add-title {
  font-size: 18px;
  font-weight: bold;
  color: #0f1111;
  margin: 0 0 16px;
}
.product-reviews .product-reviews-card .product-review-add .product-review-add-text {
  font-size: 12px;
}
.product-reviews .product-reviews-card .product-review-add .product-review-add-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #111;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  margin: 0 0 16px;
  margin: 16px 0 0;
  background: transparent;
  border: 1px solid black;
  color: black;
}
.product-reviews .product-reviews-card .product-review-add .product-review-add-button:hover {
  background-color: #555;
}
.product-reviews .product-reviews-card .product-review-add .product-review-add-button:hover {
  background: #f5f5f5;
}
.product-reviews .product-reviews-comments {
  flex: 65%;
  max-width: 65%;
  padding: 0 16px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.product-reviews .product-reviews-comments .product-review-comment {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 16px;
  width: 100%;
}
.product-reviews .product-reviews-comments .comment-profile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
  font-size: 13px;
  color: #7b7c88;
}
.product-reviews .product-reviews-comments .comment-profile span {
  margin-right: 16px;
}
.product-reviews .product-reviews-comments .comment-rating {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
.product-reviews .product-reviews-comments .comment-rating .comment-rating-good {
  background: #00A049;
}
.product-reviews .product-reviews-comments .comment-rating .comment-rating-average {
  background: #65AA57;
}
.product-reviews .product-reviews-comments .comment-rating .comment-rating-bad {
  background: #F9BC00;
}
.product-reviews .product-reviews-comments .comment-rating .comment-rating-point {
  color: white;
  padding: 2px 4px;
  border-radius: 6px;
  font-size: 12px;
  margin-right: 8px;
}
.product-reviews .product-reviews-comments .comment-rating .comment-rating-text {
  font-size: 14px;
  font-weight: bold;
}
.product-reviews .product-reviews-comments .comment-text {
  margin-bottom: 8px;
  font-size: 14px;
}
.product-reviews .product-reviews-comments .comment-text p {
  margin: 0;
}
.product-reviews .product-reviews-comments .comment-like {
  color: #767790;
  font-size: 12px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.product-reviews .product-reviews-comments .comment-like .comment-like-text {
  margin-right: 16px;
}
.product-reviews .product-reviews-comments .comment-like .comment-like-button {
  font-size: 14px;
  cursor: pointer;
  margin-right: 8px;
}
.product-reviews .product-reviews-comments .comment-like .thumbs-up:hover {
  color: #0ed264;
}
.product-reviews .product-reviews-comments .comment-like .thumbs-down:hover {
  color: #ff4400;
}

@media screen and (max-width: 800px) {
  .product-info {
    flex-flow: column;
  }
  .product-info .product-info-pic {
    flex: 100%;
    max-width: 100%;
    padding: 0 16px;
  }
  .product-info .product-info-pic .product-info-pics-slides .product-info-pic-slide {
    height: 300px;
  }
  .product-info .product-info-details {
    flex: 100%;
    max-width: 100%;
    border-top: 1px solid gray;
    margin-top: 16px;
    padding: 16px 16px 0;
  }
  .product-info .product-info-order {
    flex: 100%;
    max-width: 100%;
    border-top: 1px solid gray;
    margin-top: 16px;
    padding: 16px 16px;
  }
  .product-info .product-info-order .product-info-order-card {
    border: none;
    background: white;
    border-radius: 0;
    max-width: 100%;
  }
  .product-info .product-info-order .product-info-order-card hr {
    display: none;
  }
  .product-info .product-info-order .product-info-order-card .product-info-order-price {
    flex-flow: row nowrap;
  }
  .product-info .product-info-order .product-info-order-card .product-info-order-price p {
    white-space: nowrap;
    margin-right: 16px;
  }
  .product-info .product-info-order .product-info-order-card .product-info-order-button {
    margin: 0;
    max-width: 300px;
  }
  .product-info .product-info-order .product-info-order-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    background: white;
    padding: 8px 16px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
  }
  .product-reviews {
    flex-flow: column;
  }
  .product-reviews .product-reviews-card, .product-reviews .product-reviews-comments {
    flex: 100%;
    max-width: 100%;
  }
  .footer {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 300px) {
  .product-info .product-info-order .product-info-order-section .product-info-order-price .product-info-order-price-text {
    display: none;
  }
}

/*# sourceMappingURL=product.css.map */
